body {
    display: flex;
    
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.img-container {
    background-color: blue;
    height: auto;
    width: 40rem;
    overflow: hidden;
}

.background-img {
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 25px;
}

.text-content {
    font-weight: 600;
    font-size: 24px;
}

.text-cta {
    margin: 25px 0px;
}


.form-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.user-inputs {
    display: flex;
    justify-content: space-between;
}

.input-field {
    margin-right: 50px;
    margin-bottom: 20px;
    
}



em {
    font-style: italic;
}

form label {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}


form input {
    height: 24px;
    border: 1px solid rgba(128,128,128, .25);
    border-radius: 5px;
}

input:valid {
   border: 1px solid rgba(46, 204, 113, 1);
}


