body {
    display: flex;
    background-color: beige;
}

.img-container {
    background-color: blue;
    height: 100vh;
    width: 40rem;
    overflow: hidden;
}

.background-img {
    height: 100%;
}

