body {
    display: flex;
    
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.img-container {
    height: auto;
    width: 60rem;
    overflow: hidden;
    position: relative;
}

.background-img {
    height: 100%;
}

.logo-container {
    background: rgba(0,0,0,.5);
    border-radius: 15px;
    width: 95%;
    height: 150px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    max-width: 90%;
    max-height: 90%;
}

.logo-container p {
    font-size: 64px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-height: 80%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 25px;
}

.text-content {
    font-weight: 600;
    font-size: 24px;
}

.text-cta {
    margin: 25px 0px;
}


.form-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.user-inputs {
    display: flex;
    justify-content: space-between;
}

.input-field {
    margin-right: 50px;
    margin-bottom: 20px;
    
}

hr { 
   
    box-shadow: 0 8px 6px -6px black;
    
}

em {
    font-style: italic;
}

form label {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}


form input {
    height: 24px;
    border: 1px solid rgba(128,128,128, .25);
    border-radius: 5px;
    
}

input:valid {
   border: 1px solid rgba(46, 204, 113, 1);
}

input:focus-within {
    outline: none ;
    border:1px solid blue;
}


button {
    background-color: #596D48;
    border: none;
    width: 225px;
    height: 50px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    margin: 25px 0;
}

.bottom-section {
    font-size: 18px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #596D48;
}



